@model FoodDeliveryApplicationUI.Models.OrderViewModel

@{
    ViewBag.Title = "Order Confirmation";
}
<div class="container">
    <!-- Animated Progress Bar -->
    <div class="position-relative" id="horizontal-line"  style="width: 10%; height: 10px; background-color: #00ffe0; top: 16.5px; border-radius: 5px">
    </div>
    <div class="animated-progress progress-blue w-75">

        <div class="progress-step">

            <i class="fas fa-circle"></i>
            <span>Order Preparing</span>
        </div>
        <div class="progress-step">
            <i class="fas fa-circle"></i>
            <span>Order Packing</span>
        </div>
        <div class="progress-step">
            <i class="fas fa-circle"></i>
            <span>Out for Delivery</span>
        </div>
        <div class="progress-step">
            <i class="fas fa-circle"></i>
            <span>Delivered</span>
        </div>
    </div>

</div>

<div class="container d-flex flex-column mt-5 w-50 border border-dark p-4" style="background-color: #ede2e57d">
    <h3 class="text-center">Order Confirmation</h3>
    <p class="ms-3 mb-0">Your order with Order ID @Model.OrderId has been successfully placed.</p>
    <p class="ms-3 mb-0">Total Amount: @Model.TotalAmount</p>
    <p class="ms-3 mb-0">
        Order Date: @Model.OrderDate.ToString("dd-MM-yyyy")<br>
        Order Time: @Model.OrderDate.ToString("HH:mm")
    </p>

</div>
@section Scripts {
    <script>
        //.2
        // 1.1
        // 2
        // 3.1
        animateHorizontalLine(1.1);
    </script>
}